@media only screen and (max-width:1920px) {
    .sidebar-arrow-mbl {
        display: none !important;
    }

    .mbl-sidebar {
        display: none;
    }

    .mblDrawer {
        display: none;
    }
}

@media only screen and (max-width:1769px) {}

@media only screen and (max-width:1690px) {}

@media only screen and (max-width:1600px) {}



@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1300px) {}

@media only screen and (max-width:1200px) {
    .card_incident {
        width: 50% !important;
        min-width: 50% !important;
        margin-bottom: 10px !important;
    }


}


@media only screen and (max-width:1024px) { 
    .userCancel_btn{
    margin-top: 10px !important;
}}


@media only screen and (max-width:1024px) {
}


@media only screen and (max-width:995px) {

   
    .calendar_align DatePicker {
        width: 100%;
    }

    .tablescroll-mobile {
        max-width: 1100px;
        overflow-x: scroll;
        display: block;
    }

    .sidebar-arrow-mbl {
        display: none !important;
    }

    .mbl-sidebar {
        display: none;
    }

    .sidebar-arrow-mbl {
        display: block !important;
    }

 

    /* .sidebar_collapse {
        display: none;
    } */
    .table-responsive-container {
        width: 250px;
        min-width: 100%;
        max-width: 100%;
        /* overflow-x: scroll; */
    }



}



@media only screen and (max-width:991px) {
    .MuiTableCell-root {
        padding: 12px;
        font-size: 16px;
    }

    .MuiTableContainer-root {
        max-height: 400px;
    }

    .sidebar-arrow-mbl {
        display: none !important;
    }

    .tbl_scrool {
        max-width: 650px;
    }


    .table-responsive-container {
        width: 250px !important;
        min-width: 100% !important;
        max-width: 100% !important;
        /* overflow-x: scroll !important; */
    }

 
}

@media only screen and (max-width:879px) {
    .sidebar-arrow-mbl {
        display: none !important;
    }


    .table-responsive-container {
        width: 250px !important;
        min-width: 100% !important;
        max-width: 100% !important;
        /* overflow-x: scroll !important; */
    }
}

@media only screen and (min-width:768px) {
  
    .flex-grow {
        flex: 1 0 100%;
        /* Make the content take the full width on smaller screens */
    }

    nav {
        display: block !important;
    }

    .MuiTableCell-root {
        padding: 10px;
        font-size: 14px;
    }

    .MuiTableContainer-root {
        max-height: 350px;
    }

    .responsive-btn {
        margin-top: 10px;
    }

 

    .table-responsive-container {
        width: 250px !important;
        min-width: 100% !important;
        max-width: 100% !important;
        /* overflow-x: scroll !important; */
    }
    .responsive_span {
        margin: 0px !important;
        font-size: 14px !important;
    }

}


@media only screen and (max-width:767px) {
    .userCancel_btn {
        margin-top: 10px !important;
    }

    .flex-grow {
        flex: 1 0 100%;
        /* Make the content take the full width on smaller screens */
    }

    .text-truncate {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .responsive-btn {
        margin-top: 10px !important;
    }

    .incident_mbl {
        font-size: 12px;
        width: 100% !important;
        float: left !important;
    }

    .mbl-sidebar {
        display: none;
        z-index: 9999;
        margin-top: 50px;
        position: absolute;
    }

    .MuiTableCell-root {
        padding: 10px;
        font-size: 14px;
    }

    .MuiTableContainer-root {
        max-height: 350px;
    }

    .dynamic_below {
        margin-top: 20px !important;
    }

    .assigntask_row {
        gap: 15px;
    }

    .description {
        margin-bottom: 10px;
    }

    .sidebar-arrow-mbl {
        display: block !important;
    }

    .sidebar_collapse {
        display: none;
    }

    .mblDrawer {
        display: block;

    }

    .table-responsive-container {
        width: 250px !important;
        min-width: 100% !important;
        max-width: 100% !important;
        /* overflow-x: scroll !important; */
    }
    .responsive_span {
        margin: 0px !important;
        font-size: 14px !important;
    }

}


@media only screen and (max-width:599px) {
    .fileupload_responsive {
        padding: 0px;
        width: 92%;
        margin: 10px;

    }

    .responsive_span {
        margin: 0px !important;
        font-size: 14px !important;
    }

    .william_logo_responsive {
        /* height: 20px; */
        width: 160px;
    }

    .incident-create-btn-resonsive {
        width: 100% !important;
    }

    .deaprtment-responsive {
        width: 200px !important;
    }

    .user-responsive-btn {
        /* float: right !important; */
        font-size: 12px;
    }

    .card_incident {
        width: 100% !important;
        min-width: 100% !important;
    }

    .btn_incident_create {
        margin-top: 10px !important;
        width: 100% !important;
        float: left !important;
    }

    /* .incident_mbl {
        width: 100% !important;
    } */
    .incident_mbl {
        font-size: 12px;
        width: 100% !important;
        float: left !important;
    }

    .user-table-button-responsive button {
        width: 100% !important;
        margin-top: 10px !important;
    }

    .table-responsive-container {
        width: 100px !important;
        min-width: 100% !important;
        max-width: 100% !important;
        overflow-x: scroll !important;
    }

    .responsive-btn {
        margin-top: 10px;
    }

    .btn_incident_create button {
        float: left !important
    }


    .header-mobi {
        display: block !important;
        margin: 0 auto !important;
        text-align: center !important;
    }

    .sidebar-arrow-mbl {
        display: block !important;
    }

    .sidebar_collapse {
        display: none;
    }

    .MuiTableCell-root {
        padding: 8px;
        font-size: 12px;
    }

    .MuiTableContainer-root {
        max-height: 300px;
    }

    .description {
        margin-bottom: 10px;
    }

    .dynamic_below {
        margin-top: 20px !important;
    }

    .assigntask_row {
        gap: 15px;
    }

    .mbl_mb {
        margin-bottom: 10px;
    }

    .mblDrawer {
        display: block;

    }

    .drawer-width-mbl {
        width: 300px !important;
        overflow-x: scroll;
    }
    .incident-dashboard-count{
        margin-bottom: 10px;
    }
    .total-icident-dashboard{
        margin: 1px;
    }
    .source-div{
        margin-bottom: 10px;
    }

}